# Archivos de Terraform
*.tfstate
*.tfstate.*
*.terraform/
.terraform.lock.hcl

# Archivos ZIP de Lambdas (pesados, se generan localmente)
*.zip

# Archivos de logs
*.log

# Archivos temporales
*.tmp
*.swp
*.bak

# Archivos de sistema
.DS_Store
Thumbs.db

# Node.js (si usas npm en lambdas)
node_modules/
package-lock.json
